<html>
    <head>
        <title>LazoPizzas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link" href="/">Página Inicial </a> |
            <a class="nav-link" href="/cardapio">Cardápio</a> |
            <a class="nav-link" href="/avaliacoes">Avaliações </a> | 
            <a class="nav-link" href="/faleconosco">Fale conosco</a> | 
            <a class="nav-link" href="/login">Login</a> |
            <a class="nav-link" href="{{url_for('usuarios.logoff')}}">Sair</a>
        </nav>

        <main>
            {% block conteudo %}
            {% endblock %}
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>