{% extends "base.html" %}

{% block titulo %} Login {% endblock %}

{% block conteudo %}

{% set mensagens = get_flashed_messages(with_categories=true) %} 
{% if mensagens %}     
{% for categoria, msg in mensagens %}
<div class="alert alert-{{categoria}}" role="alert">
    {{ msg }}
</div>
{% endfor %}
{% endif %}

<form action="{{url_for('usuarios.autenticar')}}" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Login: </label>
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nome@email.com">
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label">Senha: </label>
        <input type="password" name="senha" class="form-control" id="floatingPassword" placeholder="Senha">
    </div>    
    
    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Entrar</button>
</form>

{% endblock %}